.column {
	float:left;
	width:250px;
	padding:10px;
	margin:0 0 20px 20px;
	border:5px double blue;
	background:#ccc;
}
.column.two{border:none}
.column.one{padding:0 10px;}
/***************************************************************************
															Utility Classes
***************************************************************************/
.clear {
	height:0;
	clear:both;
}